/*body {
    font-family: Arial, sans-serif;
    background-color: #e25252;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin-top:20px;;
}*/

.wrapper {
    display: flex;         /* Using flex to arrange children */
    flex-direction: column; /* Stack items vertically */
    align-items: center;   /* Center align children */
}

#container {
    text-align: center;
    background: grey;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Space between the two divs */
    margin-top:0px;
}

#second-div {
    background-color: rgb(104, 91, 91);
    padding: 20px;
}
.alert {
    align-items: center;
}

input[type="text"] {
    padding: 5px;
    margin-top: 10px;
    font-size: 16px;
}

button {
    padding: 8px 12px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

#word {
    font-size: 24px;
    letter-spacing: 3px;
}

#message {
    font-size: 18px;
    color: red;
}
#backgroundMusic {
    height:130px;
   /* width:400px;*/
}